<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        

        <link rel="stylesheet" href="/css/normalize.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/mainpage.css">
        <!-- Latest compiled and minified CSS -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

 
    <title>Home</title>
    </head>
    <body background="n.jpg">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title">My Blog</h1>
                <nav>
                    <ul>
                                 <li><a style="text-decoration:2px 2px 2px" href="/" > Home</a>
                    </li>
                    <li><a style="text-decoration:2px 2px 2px" href="cal" >Order</a>
                    </li>
                    <li><a style="text-decoration:2px 4px 2px #aaa" href="Contact"> Contact</a>
                    <li><a style="text-decoration:2px 2px 2px #aaa" href="gbindex"> GuestBook</a>

                    </li> 
                                </ul>
                </nav>
            </header>
        </div>

        <div >
            <div class="main wrapper clearfix">

                <article>
                    <header>
                        <h1>About Me</h1>
                        
    I am yeshwanth, a graduate student at North West missouri State univerisity, I have always been inclined towards technology since my childhood, especially

computer systems, because of their wide range of applications and the possibilities they

present for the future.                   
                   
                    
                    </header>
                    <section>
                        <h2>Plans</h2>
                        <p>I am hoping my course will include IOT(Internet Of Things). I already did one project (Home Automation) 
                            and planning to land a job in this field.</p>
                         <h4>Projects</h4>
                          Home Automation:- In this project I, have used raspberry pi to controll electronic devices in home,
                          user will ontrole the electronic devices through the smart phone or PC but have to register with the router and can only operate
                          from the registred devices.      
                    </section>
                    <section>
<video width="420" height="240" controls class="vid1" src="movie.mp4" type="video/mp4">
  
  Your browser does not support the video tag.
</video>


                                           </section>
                     
                    
                </article>

              <aside> <img src="images/yeshwanth.jpg" class="circle" alt="Cinque Terre" width="300" hight="250"></aside>
            

 
        
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/main.js"></script>
</div>
</div>
    </body>
</html>
